<header class="navbar navbar-fixed-top  view-header" role="navigation">
    <div class="container view-header-container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">户户贷管理系统</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../getting-started">金融管理</a>
                </li>
                <li>
                    <a href="../css">金融学</a>
                </li>
                <li class="active">
                    <a href="../components">组件</a>
                </li>
                <li>
                    <a href="../javascript">JavaScript插件</a>
                </li>
                <li>
                    <a href="../customize">定制</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../about">退出</a>
                </li>
            </ul>
        </nav>
    </div>
</header>